
*{
    font-family:'Inter', sans-serif;
} 
html,body{
    margin: 0;
    padding: 0;
}
.banner-part{
    height: 100vh;
    width: 100%;
  
}
.banner-part img{
    height: 100vh;
    width: 100%;

}
.banner-part h1{
    color: #fff;
    font-size: xxx-large;
    position: absolute;
    margin-left:350px;
    top: 200px;
    width:50%;
    text-align: center;
}
.banner-part p{
    position: absolute;
    top: 360px;
    color: #fff;
    width:50%;
    margin-left: 350px;
    text-align: center;
}  
.banner-part a{
    text-decoration:none ;
    color: #fff;
    background-color: #ff0000;
    padding: 15px;
    border-radius: 8px;
}
.banner-part div #banner-link{
    position: absolute;
    width: auto;
    height: auto;
    left: 640px;
    top: 458px;
    align-items: center;
    
}
.donate{
    width: 100%;
    height: 100vh;
    position: absolute;
    align-items: center;
}
.donate h1{
    position: absolute;
    font-size: xx-large;
    top:60px;
    width:100%;
    text-align: center;
}
.donate p{
    position: absolute;
    top:140px;
    margin-left: 25%;
    width: 50%;
    text-align: center;
}
.donate .donate-amount{
    position: absolute;
    top: 230px;
    display:flex;
    margin-left: 25%;
  
}
.donate .donate-amount div{
    margin: 5px;
    padding: 5px;
    height: auto;
    width: 125px;
    background-color: #f4f4f4;
    border-radius: 5px;

}
.donate .donate-amount div h2{
    text-align: center;
}
.donate .donate-amount #activate{
    color: #FF5959;
    background-color: #FFEEEE;
    border:2px solid #ff5959;
}
.donate .castom-amount{
   position: absolute;
   top: 250px;
   margin-left: 25%;
   width: 50%;
}
.donate .castom-amount p{
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(118, 115, 115);
}
.donate .castom-amount a{
    margin-top:230px;
    position:absolute;
    margin-left:41.5% ;
    text-decoration:none ;
    color: #fff;
    background-color: #ff0000;
    padding: 15px;
    border-radius: 8px;
}
.last{
    height: 100vh;
    width: 100%;
    background-color: #Fff;
}
.donate-plan{
    height: 100vh;
    width: 100%;
    margin-top: 30px;
}
.donate-plan h1{
     width: 100%;
    margin-top:11px;
    text-align: center;
}
.donate-plan p{
    width: 50%;
    margin-left:350px;
    margin-top: 15px;
    text-align: center;
}
.donate-plan-item{
    display: flex;
    
   
} 
.donate-plan-item .food{
    margin-left: 6.5%;
    margin-right: 3.8%;
    background-color: #4f9da61a;
    height: 300px;
    width: 320px;
    margin-top:95px ;
    border-radius: 5px;
}
.donate-plan-item .food img{
    margin: 0;
    padding-top:5px ;
    padding-left: 5px;
    height: 100px;
    width: 100px;
}
.donate-plan-item .food h1{
    text-align: left;
    padding-left: 25px;
}
.donate-plan-item .food p{
    width:280px;
    margin-top: 30px;
    margin-left:0;
    padding-left: 20px;
    text-align:left;
}
.donate-plan-item .clothes{
    margin-left: 3.8%;
    margin-right: 3.8%;
    background-color: #ff59591a;
    height: 300px;
    width: 320px;
    margin-top:95px  ;
    border-radius: 5px;
}
.donate-plan-item .clothes img{
    margin: 0;
    padding-top:5px ;
    padding-left: 5px;
    height: 100px;
    width: 100px;
}
.donate-plan-item .clothes h1{
    text-align: left;
    padding-left: 25px;
}
.donate-plan-item .clothes p{
    width:280px;
    margin-top: 30px;
    margin-left:0;
    padding-left: 20px;
    text-align:left;
}

.donate-plan-item .medicine{
    margin-left: 3.5%;
    margin-right: 5.72%;
    background-color: #fff4d6;
    height: 300px;
    width: 320px;
    margin-top:95px  ;
    border-radius: 5px;
}
.donate-plan-item .medicine img{
    margin: 0;
    padding-top:5px ;
    padding-left: 5px;
    height: 100px;
    width: 100px;
}
.donate-plan-item .medicine h1{
    text-align: left;
    padding-left: 25px;
}
.donate-plan-item .medicine p{
    width:280px;
    margin-top: 30px;
    margin-left:0;
    padding-left: 20px;
    text-align:left;
}
/* their-misery-situation-start**
**
*** */
.their-misery-situation{
    height: 80vh;
    display: flex;
}

.half-width-1{
    width:50%;
}
.half-width-1 h1{
 
    padding-left: 12.57%;
    font-size: xxx-large;

}
.half-width-1 p{
    width:50%;
    align-items: center;
    padding-left: 12.57%;
    padding-top:10px ;
    font-size:medium;

}
.half-width-1 a{
    margin-left:12.57% ;
    text-decoration:none ;
    color: #fff;
    background-color: #ff0000;
    padding: 15px;
    border-radius: 8px;
}
#bottom{
  padding-bottom: 30px;
}  
.half-width-2{
    width:50%;
}
.half-width-2 img{
    width: 90%;
}

